<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppDelegate</key>
	<dict>
		<key>logForLaunch</key>
		<array>
			<dict>
				<key>co</key>
				<string>357</string>
			</dict>
			<string>sa&amp;currentUserIdLogTag</string>
			<string>cq</string>
			<string></string>
		</array>
	</dict>
	<key>ViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>viewWillAppear:</key>
			<string>VC_Appear</string>
			<key>viewWillDisappear:</key>
			<string>VC_DisAppear</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>btnAction:</key>
			<string>btnAction_click_11.000</string>
			<key>tapActionByCondition:</key>
			<string>1111</string>
		</dict>
	</dict>
	<key>DemoView</key>
	<dict>
		<key>TapEventIDs</key>
		<dict>
			<key>test:</key>
			<string>tap_test168.09</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>btnAction:</key>
			<string>Demo_btnAction_12.999</string>
			<key>delegateAction1</key>
			<string>119</string>
		</dict>
	</dict>
	<key>FirstViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>viewWillAppear:</key>
			<string>First_Appear</string>
			<key>viewWillDisappear:</key>
			<string>First_DisAppear</string>
		</dict>
	</dict>
</dict>
</plist>
